<a href="https://colab.research.google.com/github/quadribello/Hamoye/blob/master/hamoye_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Quadri Bello QUIZ SOLUTION

In [3]:
# loading important Modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

In [5]:
# loading datasets
url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url)

In [6]:
# iterating the columns
for col in fuel_data.columns:
  print(col)
# Looking into the dataset
fuel_data.head()

record_id
utility_id_ferc1
report_year
plant_name_ferc1
fuel_type_code_pudl
fuel_unit
fuel_qty_burned
fuel_mmbtu_per_unit
fuel_cost_per_unit_burned
fuel_cost_per_unit_delivered
fuel_cost_per_mmbtu

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [7]:
# fuel_data descriotion
fuel_data.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

In [8]:
# Question 1
a = [1,2,3,4,5,6]
b = [113,21,34]
a_b = a.extend(b)
a__b = a.append(b)
print(a_b)
print(a__b)

None
None

In [9]:
# Question 2
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
# Question 3
fuel_data.groupby(['fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean().idxmin()

'gas'

In [11]:
# Question 4
print(fuel_data.fuel_mmbtu_per_unit.std())
print(fuel_data.fuel_mmbtu_per_unit.quantile(q=0.75))

10.600220307806886
17.006

In [12]:
# Question 5
fuel_data_skew = fuel_data.fuel_qty_burned.skew()
print(fuel_data_skew)
fuel_data.fuel_qty_burned.kurt()

15.851495469109503

651.3694501337732

In [13]:
# Question 6
## getting the shape of the dataset
a = fuel_data.shape
## the sum of the null values
b = fuel_data.isnull().values.sum()
## getting the number of row
c = a[0]
## dividing the null values by the number of row
d = (b/c)*100
print('Feature:{} ,Total:{} ,percent:{} '.format('fuel_unit',b,d))

Feature:fuel_unit ,Total:180 ,percent:0.609694136774718

In [14]:
# Question 7
## check for the column with the missnd data
fuel_data.isna()
## check for the mode of the column with missing datas
a = fuel_data['fuel_unit'].mode()
print(a)
## fill NA with the mode
b = fuel_data['fuel_unit'].isna()
if any(b) == True:
      fuel_data.fuel_unit.fillna(a) 
b.isnull().sum()

0    mcf
dtype: object

0

In [15]:
# Question 8
fuel_data.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

In [16]:
# Question 9
## calculate the average of fuel cost per unit burned in 1994
df1_1994 = fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
avg_1994 = df1_1994.loc[1994,'coal']
avg_1994
## calculate the average of fuel cost per unit burned in 1998
df1_1998 = fuel_data.groupby(['report_year','fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()
avg_1998 = df1_1998.loc[1998,'coal']
avg_1998
## calculate the percentage change
percent_change = ((avg_1998 - avg_1994) / avg_1994) * 100
print('The percentage change in fuel cost per unit burned in 1998 and 1994 for coal is',percent_change)

The percentage change in fuel cost per unit burned in 1998 and 1994 for coal is -20.56765451826049

In [17]:
# Question 10
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()

1997