## Mean Absolute Error(MAE)

In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

In [12]:
# load dataset
df=pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00242/ENB2012_data.xlsx')
df.head()

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

In [20]:
#rename columns
column_names = {'X1': 'Relative_compactness','X2':'Surface_Area','X3': 'Wall_Area','X4':'Roof_Area','X5':'Overall_Height',
                'X6': 'Orientation','X7':'Glazing_Area','X8': 'Glazing_Area_Distribution',
                'Y1': 'Heating_Load', 'Y2': 'Cooling_Load'}
df = df.rename(columns=column_names)
df.head()

   Relative_compactness  Surface_Area  ...  Heating_Load  Cooling_Load
0                  0.98         514.5  ...         15.55         21.33
1                  0.98         514.5  ...         15.55         21.33
2                  0.98         514.5  ...         15.55         21.33
3                  0.98         514.5  ...         15.55         21.33
4                  0.90         563.5  ...         20.84         28.28

[5 rows x 10 columns]

In [14]:
#Firstly, we normalise our dataset to a common scale using the min max scaler 
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
normalised_df = pd.DataFrame(scalar.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Heating_Load','Cooling_Load'])
heating_target = normalised_df['Heating_Load']
heating_target[0:5]

0    0.257212
1    0.257212
2    0.257212
3    0.257212
4    0.399838
Name: Heating_Load, dtype: float64

In [15]:
#Now, we split our dataset into the training and testing dataset.
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(features_df, heating_target, test_size=0.3, random_state=1)
#Define model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(X_train,y_train)
#obtain predictions
predicted_values = linear_model.predict(X_val)
#first 5 predicted values
predicted_values[0:5]

array([0.17858887, 0.5814209 , 0.75366211, 0.71948242, 0.76416016])

In [16]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_val,predicted_values)
round(mae,3)

0.063

## Residual Sum of Squares (RSS)

In [17]:
rss = np.sum(np.square(y_val - predicted_values))
round(rss,3)

1.823

## Root Mean Square Error (RMSE)

In [18]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_val,predicted_values))
round(rmse,3)

0.089

## R-Squared

In [19]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_val, predicted_values)
round(r2_score, 3)

0.893