<a href="https://colab.research.google.com/github/quadribello/Hamoye/blob/master/Quadri_Regression_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#path of dataset
path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv'
df = pd.read_csv(path)
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
# removing the date, lights columns according to the instruction
df = df.drop(['date','lights'], axis=1)
df

       Appliances         T1       RH_1  ...  Tdewpoint        rv1        rv2
0              60  19.890000  47.596667  ...   5.300000  13.275433  13.275433
1              60  19.890000  46.693333  ...   5.200000  18.606195  18.606195
2              50  19.890000  46.300000  ...   5.100000  28.642668  28.642668
3              50  19.890000  46.066667  ...   5.000000  45.410389  45.410389
4              60  19.890000  46.333333  ...   4.900000  10.084097  10.084097
...           ...        ...        ...  ...        ...        ...        ...
19730         100  25.566667  46.560000  ...  13.333333  43.096812  43.096812
19731          90  25.500000  46.500000  ...  13.300000  49.282940  49.282940
19732         270  25.500000  46.596667  ...  13.266667  29.199117  29.199117
19733         420  25.500000  46.990000  ...  13.233333   6.322784   6.322784
19734         430  25.500000  46.600000  ...  13.200000  34.118851  34.118851

[19735 rows x 27 columns]

In [4]:
#Firstly, we normalise our dataset to a common scale using the min max scaler 
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
normalised_df = pd.DataFrame(scalar.fit_transform(df), columns=df.columns)
features_df = normalised_df.drop(columns=['Appliances'])
target_variable = normalised_df['Appliances']

In [5]:
#Now, we split our dataset into the training and testing dataset.
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(features_df, target_variable, test_size=0.3, random_state=42)
print("number of test samples :", X_val.shape[0])
print("number of training samples:",X_train.shape[0])
#Define model
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(X_train,y_train)
#obtain predictions
predicted_values = linear_model.predict(X_val)
# R squraed on the dataset
linear_model.score(X_val,y_val)

number of test samples : 5921
number of training samples: 13814

0.14890246319303535

In [8]:
# Question 12
##From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) 
##and the temperature outside the building (y = T6). What is the R^2 value in two D.P?
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(df[['T2']],df[['T6']])
r2=lm.score(df[['T2']],df[['T6']])
print('r2_score = ',r2.round(2))

r2_score =  0.64

In [17]:
# Question 13
## What is the Mean Absolute Error (in two decimal places)?
from sklearn.metrics import mean_absolute_error
mse = mean_absolute_error(y_val,predicted_values)
print('The mean square error is: ', mse.round(2))

The mean square error is:  0.05

In [15]:
# Question 14
## What is the Residual Sum of Squares (in two decimal places)?
rss = np.sum(np.square(y_val - predicted_values))
round(rss, 2) # rounds the rss value to 2 dp

45.35

In [19]:
# Question 15
## What is the Root Mean Squared Error (in three decimal places)?
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_val, predicted_values))
print('The root mean square error  is: ', rmse.round(3))

The root mean square error  is:  0.088

In [23]:
# Question 16
## What is the Coefficient of Determination (in two decimal places)? 
from sklearn.metrics import r2_score
r2_score = r2_score(y_val, predicted_values)
round(r2_score, 2) # rounds the r-square value to 2 dp

0.15

In [39]:
# Question 17
## Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001, random_state=2)
lasso_reg.fit(X_train,y_train)
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features',col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(linear_model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_Weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on ='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_Weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

In [41]:
# Question 18
##Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4, random_state=2)
ridge_reg.fit(X_train,y_train)
rmse_ridge = np.sqrt(mean_squared_error(y_val, predicted_values))
print(round(rmse_ridge, 3))

0.088

In [53]:
# Question 19
## Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001, random_state=2)
lasso_reg.fit(X_train,y_train)
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features',col_name]
  weights_df[col_name].round(3)
  return weights_df


lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_Weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on ='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_Weight
0          RH_2            -0.456698     -0.411071     -0.000000
1         T_out            -0.321860     -0.262172      0.000000
2            T2            -0.236178     -0.201397      0.000000
3            T9            -0.189941     -0.188916     -0.000000
4          RH_8            -0.157595     -0.156830     -0.000110
5        RH_out            -0.077671     -0.054724     -0.049557
6          RH_7            -0.044614     -0.045977     -0.000000
7          RH_9            -0.039800     -0.041367     -0.000000
8            T5            -0.015657     -0.019853     -0.000000
9            T1            -0.003281     -0.018406      0.000000
10          rv1             0.000770      0.000748     -0.000000
11          rv2             0.000770      0.000748     -0.000000
12  Press_mm_hg             0.006839      0.006584     -0.000000
13           T7             0.010319      0.010098     -0.000000
14   Visibility             0.012307      0.012076      0.000000
15         RH_5             0.016006      0.016152      0.000000
16         RH_4             0.026386      0.024579      0.000000
17           T4             0.028981      0.027384     -0.000000
18    Windspeed             0.029183      0.030268      0.002912
19         RH_6             0.038049      0.035519     -0.000000
20         RH_3             0.096048      0.095135      0.000000
21           T8             0.101995      0.101028      0.000000
22    Tdewpoint             0.117758      0.083128      0.000000
23           T6             0.236425      0.217292      0.000000
24           T3             0.290627      0.288087      0.000000
25         RH_1             0.553547      0.519525      0.017880

In [50]:
# Question 20
y_pred_lasso = lasso_reg.predict(X_val)
rmse=np.sqrt(mean_squared_error(y_val,y_pred_lasso))
print('rmse =',rmse.round(3))

rmse = 0.094